@tailwind base;
@tailwind components;
@tailwind utilities;

.dt-search,
.pagination {
    text-align: end;
}

.dt-info,
.dt-length {
    text-align: start;
}

.choices,
.choices__inner {
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    background-color: #fff;
}

.choice[data-type="select-multiple"] {
    min-height: 44px;
}
